.page {
  padding: 30px;
  text-align: center;
}

.image {
  display: block;
  margin: 0 auto 20px;
  width: 40%;
  height: auto;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.subtitle {
  margin-bottom: 20px;
}

.description {
  margin-bottom: 20px;
}

.stars {
  margin-left: 20px;
}

.button {
  display: inline-block;
  margin-bottom: 20px;
}
