.order {
  display: flex;
}

.arrow {
  font-size: 16px;
  padding: 0;
  margin-right: 8px;
  line-height: 1;
  background: none;
  border: none;
  color: #ccc;
  cursor: pointer;

  &:hover {
    color: #000;
  }
}

.selected {
  color: #81b3d2;
  cursor: default;

  &:hover {
    color: #81b3d2;
  }
}
