.page {
  padding: 30px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.image {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin-right: 50px;
}

.name {
  margin-bottom: 10px;
}

.orders {
  text-align: center;
}
