.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  padding: 0 30px 0 15px;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  height: 34px;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;

  &:hover {
    background-color: #ebebeb;
    border-color: #ebebeb;
  }

  &:focus {
    background-color: #fff;
    border-color: #e5e5e5;
  }
}

.error {
  position: absolute;
  left: 0;
  bottom: -15px;
  font-size: 10px;
  color: red;
  margin-top: 5px;
}
