.heading {
  max-width: 150px;
  margin: 0 auto 20px;
}

.text {
  padding: 0 10px;
}

.numWrapper {
  position: relative;
  width: 50px;
  margin: 0 auto 20px;

  &::after {
    content: '';
    position: absolute;
    width: auto;
    top: 8px;
    left: -10px;
    right: -10px;
    z-index: 1;
    display: block;
    border-bottom: 2px solid #979797;
  }
}

.num {
  display: inline-block;
  position: relative;
  padding: 0 6px;
  z-index: 2;
  background-color: #eee;
}

.advantage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 100%;
  padding: 50px 10px;
  background-color: #eee;

  &_light {
    background-color: #81b3d2;

    .numWrapper::after {
      border-bottom-color: #fff;
    }

    .num {
      color: #fff;
      background-color: #81b3d2;
    }
  }
}
