.button {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border: none;
  -webkit-appearance: none !important;

  &_full {
    width: 100%;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.full {
  width: 100%;
}

.small {
  font-size: 14px;
  padding: 5px 10px;
}

.medium {
  font-size: 16px;
  padding: 15px;
}

.brown {
  background-color: #766357;

  &:hover {
    background-color: #604e43;
  }

  &:active {
    background-color: #503e33;
    color: #928a85;
  }
}

.blue {
  background-color: #81b3d2;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: #88b6d1;
  }
}

.red {
  background-color: #dd4b39;

  &:hover {
    background-color: #b33e2f;
  }

  &:active {
    background-color: #9b3e31;
    color: #dd4b39;
  }
}
