.menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 64px;
  font-weight: 700;
  font-size: 14px;
  vertical-align: top;
  text-align: center;
}

.link {
  color: #000;
  text-decoration: none;
}

.link:hover {
  color: #81b3d2;
}

.active {
  color: #81b3d2;
  pointer-events: none;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}
