.user {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.img {
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

.name {
  margin-bottom: 5px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
}
