.wrapper {
  position: relative;
}

.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34px;
  font-weight: 700;
  font-size: 14px;
  background: #ebebeb;
}

.button {
  height: 100%;
  width: 38px;
  padding: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;

  &:hover {
    background-color: #f2f2f2;
  }

  &:active {
    background-color: #81b3d2;
  }
}

.plus {
  background: url('../../resources/plus.svg') no-repeat center / 12px;
}

.minus {
  background: url('../../resources/minus.svg') no-repeat center / 12px;
}

.error {
  position: absolute;
  left: 0;
  bottom: -15px;
  font-size: 10px;
  color: red;
  margin-top: 5px;
}
