.promo {
  position: relative;
  width: 100%;
  height: 508px;
  padding: 76px 0 0;
  text-indent: -9999px;
  background: #dceaf3 url("../../resources/bg-promo.jpg") no-repeat 50% -56px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 57px;
    background: url("../../resources/white-mask.png") no-repeat;
    background-size: 101% 57px;
  }
}

.text {
  background: url("../../resources/sprite.png") no-repeat;
  width: 256px;
  height: 86px;
  margin: 0 auto 54px;
  background-position: -1268px -5px;
}

.title {
  background: url("../../resources/sprite.png") no-repeat;
  width: 458px;
  height: 78px;
  margin: 0 auto 60px;
  background-position: -800px -5px;
}

.subtitle {
  background: url("../../resources/sprite.png") no-repeat;
  width: 296px;
  height: 80px;
  margin: 0 auto;
  background-position: -5px -5px;
}
