.feature {
  position: relative;
  padding-top: 160px;
  width: 100%;
  text-align: center;
  height: 330px;
}

.feature::after {
  content: "";
  position: absolute;
  display: block;
  background: url("../../resources/sprite.png") no-repeat;
  top: 60px;
  left: 50%;
}

.home::after {
  width: 75px;
  height: 72px;
  margin-left: -37.5px;
  background-position: -395px -5px;
}

.food::after {
  width: 74px;
  height: 70px;
  margin-left: -37px;
  background-position: -311px -5px;
}

.souvenirs::after {
  width: 64px;
  height: 76px;
  margin-left: -32px;
  background-position: -480px -5px;
}

.title {
  padding: 160px auto 15px;
}

.text {
  width: 70%;
  margin: 25px auto 0;
}
