.hotel {
  padding: 32px calc((100%/5 - 93px) / 2);
  border-top: 1px solid #e5e5e5;
}

.wrapper {
  display: flex;
}

.image {
  margin-right: 30px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.title {
  margin-bottom: 5px;
}

.descr {
  display: flex;
  margin-bottom: 20px;
}

.text {
  margin-right: 20px;
}

.buttons {
  display: flex;
}

.button {
  margin-right: 10px;
}

.stars {
  margin-left: auto;
}

.book {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  text-align: left;
}
