.searchForm {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 32px calc((100% / 5 - 93px) / 2);
  font: 16px/1.313 'PT Sans', 'Arial', sans-serif;
  color: #fff;
  background: url('../../resources/bg-hotels.jpg') no-repeat 50% -55px;
}

.wrapper {
  display: flex;
}

.filters {
  margin-right: 40px;
}

.filter:not(:last-child) {
  margin-bottom: 20px;
}

.heading {
  margin: 0 0 20px;
}

.input {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.label {
  margin-right: 20px;
}

.sum {
  display: flex;
  flex-direction: column;
}

.button {
  width: 100%;
  margin-top: auto;
}
