.sortType {
  display: flex;
  align-items: center;
}

.text {
  font-size: 14px;
  font-weight: 700;
  margin: 0 30px 0 0;
}

.list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.item {
  margin-right: 20px;
}

.type {
  position: relative;
  font-size: 12px;
  padding: 0;
  border: none;
  background: none;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;

  &:hover {
    color: #81b3d2;
  }
}

.selected {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
  cursor: default;
}
