.form {
  margin: 0 auto;
  padding: 55px;
  width: 570px;
  background-color: #fff;
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.fieldset {
  padding: 0;
  margin: 0 0 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  width: 30%;
  font-weight: 700;
}

.input {
  width: 70%;
}

.body {
  margin-bottom: 30px;
}
