.checkbox {
  display: flex;
  align-items: center;
  height: 20px;
}

.label {
  position: relative;
  font-size: 16px;
  padding-left: 30px;
  font-weight: 700;
  color: #fff;

  &::before {
    position: absolute;
    content: '';
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #eee;
    border-radius: 5px;
  }
}

.input {
  width: 0;
  height: 0;
  opacity: 0;
}

input:checked ~ .label::after {
  position: absolute;
  left: 6px;
  top: -6px;
  content: '';
  display: block;
  width: 14px;
  height: 20px;
  border: 4px solid #eee;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
}
