.footer {
  position: relative;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
}

.hashtag {
  text-align: center;
  flex: 1 0 auto;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}

.copyright {
  flex: 1 0 auto;
  text-align: center;
}

.studio {
  display: inline-block;
  width: 113px;
  height: 39px;
  margin: 0 0 0 5px;
  line-height: 2.786;
  vertical-align: middle;
  background: url('../../resources/sprite.png') no-repeat -554px -5px;
}
