.search {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 300px;
  text-align: center;
}

.heading {
  margin-bottom: 30px;
}

.text {
  margin: 0 auto 20px;
  width: 380px;
}

.btn {
  width: 570px;
  margin: 0 auto;
}
