.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.content {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.header,
.footer {
  flex: none;
}
